#query + .CodeMirror {
  max-height: 128px;
  overflow: auto;
}

.CodeMirror {
  border-radius: 7px;
}

.cm-s-material.CodeMirror {
  background-color: #26323816;
  -webkit-backdrop-filter: blur(4px) brightness(1.1) saturate(1.1);
  -moz-backdrop-filter: blur(4px) brightness(1.1) saturate(1.1);
  backdrop-filter: blur(4px) brightness(1.1) saturate(1.1);

  transition: background-color .3s;
}

@media (prefers-color-scheme: light) {
  .cm-s-material.CodeMirror {
    -webkit-backdrop-filter: invert(1) brightness(3) blur(2px);
    -moz-backdrop-filter: invert(1) brightness(3) blur(2px);
    backdrop-filter: invert(1) brightness(3) blur(2px);
  }
}

.cm-s-material .CodeMirror-gutters {
  background: #11151dbb;
}

.cm-s-material.CodeMirror.CodeMirror-focused {
  background-color: #26323848;
}

@media (prefers-color-scheme: light) {
  .cm-s-material.CodeMirror.CodeMirror-focused {
    background-color: #26323884;
  } 
}

.hovered-code {
  background: #FFD3A3;
  color: #000 !important;
}

.error-code {
  border-bottom: 2px solid var(--danger-color);
}