:root {
  --main-content-max-width: 1280px;
}

body {
  background-attachment: fixed;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url('./bg-dark-static.svg');
  }
  body.safari {
    background-image: url('./bg-dark.svg');
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-image: url('./bg-light-static.svg');
  }
  body.safari {
    background-image: url('./bg-light.svg');
  }
}

section {
  --section-spacing: 3rem;
  background: none;
  display: flex;
  gap: 1rem;
}

picture > img {
  height: 48px;
}


section > div {
  flex-shrink: 0;
  flex-grow: 2;
  flex-basis: 0;
  overflow: auto;
}

section > div:last-child {
  flex-grow: 3;
}

[role=feed] {
  width: 100%;
}

.hovered-code {
  background: #FFD3A3;
  color: #000 !important;
}

small {
  max-width: 400px;
  display: block;
  opacity: .5;
  transition: opacity .3s;
}

small:hover {
  opacity: 1;
}