main {
  display: flex;
  gap: 1rem;
}

picture > img {
  width: calc(
    (
      100vw
      - var(--main-content-max-width)
    ) / 2
    - 64px
  );
  margin-left: 32px;
  margin-top: 32px;
  mix-blend-mode: overlay;
  position: fixed;
}

@media (prefers-color-scheme: light) {
  picture > img {
    mix-blend-mode: multiply;
    opacity: 0.15;
  }
}

main > div {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
}

[role=feed] {
  width: 100%;
}

.hovered-code {
  background: #FFD3A3;
  color: #000 !important;
}

#query + .CodeMirror {
  max-height: 128px;
  overflow: auto;
}

.CodeMirror {
  border-radius: 7px;
}