:root {
  --main-content-max-width: 1280px;
}

body {
  background-attachment: fixed;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url('./bg-dark-static.svg');
  }
  body.safari {
    background-image: url('./bg-dark.svg');
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-image: url('./bg-light-static.svg');
  }
  body.safari {
    background-image: url('./bg-light.svg');
  }
}

picture > img {
  height: 48px;
}

section {
  --section-spacing: 0rem;
  background: none;
  display: flex;
  gap: 1rem;
}

section > div {
  flex-shrink: 0;
  flex-grow: 2;
  flex-basis: 0;
  overflow: auto;
}

section > div:last-child {
  flex-grow: 3;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
  section > div {
    flex-basis: initial;
  }
}

[role=feed] {
  width: 100%;
}

small {
  max-width: 400px;
  display: block;
  opacity: .5;
  transition: opacity .3s;
}

small:hover {
  opacity: 1;
}

.error {
  color: var(--danger-color);
}

#cursor {
  font-size: var(--small-font-size);
  opacity: .12;
  float: right;
  margin-top: -24px;
  margin-right: 4px;
}

#result {
  max-height: 70vh;
  overflow: auto;
}

@media (max-width: 1280px) {
  :root {
    --main-content-margin: calc(var(--spacing) * 2);
  }

  small {
    display: none;
  }

  #result {
    max-height: none;
  }
}